{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.country }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="p-1">
                        <button type="button" class="btn btn-info">Afficher</button>
                    </a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="p-1">
                        <button type="button" class="btn btn-primary">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun utilisateurs trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
